[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
pandas = "*"
flask = "*"
torch = "*"
transformers = "*"
requests = "*"
gunicorn = "*"
fastapi = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.11"
